.chart .legend {
  fill: black;
  font: 14px sans-serif;
  text-anchor: start;
  font-size: 14px;
}

.chart text {
  fill: white;
  font: 16px sans-serif;
  text-anchor: end;
}

.chart .label {
  fill: black;
  font: 16px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: brown;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.liquidFillGaugeText {
  font-family: Helvetica; font-weight: bold;
}

.col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1-5 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
    float: left;
  }       
}

@media (min-width: 992px) {
  .col-md-1-5 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left;
  }
}

.modal-dialog {
  width: 80%;
}